<h1><%= title %></h1>

<div class="card" style="width: 400px;">
  <div class="card-body">
    <h5 class="card-title"><%= taikhoan.HoVaTen %></h5>
    <p class="card-text"><strong>Email:</strong> <%= taikhoan.Email %></p>
    <p class="card-text"><strong>Quyền hạn:</strong> <%= taikhoan.QuyenHan %></p>
    <!-- Bạn có thể thêm các thông tin khác ở đây -->

    <a href="/thucpham" class="btn btn-primary">Xem danh sách món ăn</a>
  </div>
</div>
